extends ../shared/template
block content
  h2 Your friends list!

  table
    thead
      tr
        th Name
        th Nickename
        th Phone Number
    tbody
      each friend in friends
        tr
          td= friend.name
          td= friend.nickname
          td= friend.phone




block scripts
  script(src='/js/user/home.js')

