extends ../shared/template
block content
  h2 Your friends list!

  table
    tr
      th Name
      th Nickename
      th Phone Number
    tr
      td content1
      td content2
      td content3




block scripts
  script(src='/js/user/home.js')

