extends ../shared/template
block content 

  h1 Welcome to the friends directory

  a( href='/friends/new') Click here to continue and create your directory.
    br
    br

  a( href='/friends') Go to your directory.



